<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <% genres.each do |genre| %>
    <tbody>
      <tr>
        <td>
          <%= genre.name %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
